Example Code: Pain Management

#Develops information on what the website is focused on
{% extends "layout.html" %}
{% block content %}
<div class="About">
    <h1>Pain Management Help </h1>
    <p>The well-being and safety of patients is our main goal.</p>
    <p>Throughout this website you will be able to access FAQs, Appointmet Schedules, and other facts that will help you on this journey.</p>
    <p>Please do not hesitate to contact us through our MedHelp chat</p>
</div>
{% endblock %}

#Home.html Codes
#Creates a home page with different buttons and functions
{% extends "layout.html" %}
{% block content %}
<div class="Home">
    <h1>Pain Management Help</h1>
    <p>Patient Name, {{myName}}</p>
    <p>Appointment: Date/Time</p>
    <p>Frequently Asked Questions</p>
    <p><form action="{{ url_for('greet') }}" method='post'>
        Please type your name: <input type='text' name='myName'><br>
        <input type='submit' value='Submit'>
        </form></p>
    <p><form action="{{ url_for('greet') }}" method='post'>
            Please type your name: <input type='text' name='myName'><br>
            <input type='submit' value='Submit'>
            </form></p>
    </div>
{% endblock %}

#Layout.html Codes
#Establishes the layout of the site and how it will visually appear
<!DOCTYPE html>
<html>
  <head>
      <title>Pain Management Help</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Pain Management Help</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('faq') }}">FAQ</a></li>
            <li><a href="{{ url_for('medhelp') }}">MedHelp</a></li>
            <li><a href="{{ url_for('appointment') }}">Appointment</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
  </body>
</html>

#Script1.py Codes

from flask import Flask, render_template, request
app=Flask(__name__)
@app.route('/greet', methods=['POST'])
def greet():
    inputName = request.form['myName']
    ip = request.remote_addr
    #write data to file or to DB
    inputName = inputName.upper()+" hi!  Visiting from " + str(ip)
    return render_template("home.html",myName=inputName)
@app.route('/')
def home():
    
    return render_template("home.html",myName="")

@app.route('/about/')
def about():
    return render_template("about.html")

@app.route('/Shakaria/')
def wilson():
    return render_template("wilson.html")

if __name__=="__main__":
    app.run(debug=True)

#Shakaria Codes
{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>Pain Management Help </h1>
    <p>We are here to assist you in all of your healthcare needs. </p>
    <p>Please navigate through the website to answer any questions that you may need.</p>
    <p>If you have any questions please head over to our MedHelp page so we can assist.</p>
    <p>This website is used for patient concerns.</p>
</div>
{% endblock %}

#Wilson.html Codes
{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Patients</h1>
    <p>We are here to help you throughout this journey!</p> {{myName}}</p>
    <p><form action="{{ url_for('greet') }}" method='post'>
        Please type your name: <input type='text' name='myName'><br>
        <input type='submit' value='Submit'>
        </form></p>
</div>
{% endblock %}
